
.SOA-banner
{
	text-align: center;
}

.body-text
{
	font-size: 14px;
}

.payment
{
	text-align: center;
	margin-bottom: -25px;
}

.pic {
		
//width: 1000px;
	
}

.pic2 {
		
margin-top: -20px;
	
}

.FO-title {
	
line-height:.2;
font-weight: bold;

}



